<section id="todos">
  <header>
    <h2>Editing '<%= @list[:name] %>'</h2>
    <ul>
      <li>
        <form action="/delete/<%= @id %>" method="post">
          <button class="delete" type="submit" >Delete List</button>
        </form>
      </li>
    </ul>
  </header>
</section>

<form action="/edit/<%= @id %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new name for the list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text"
      value="<%= @name %>" />
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save" />
    <a href="/lists/<%= @id %>">Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>
