<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
        <form action="/lists/<%= @id %>/complete_all" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
      <li>
        <a class="edit" href="/edit/<%= @id %>" >Edit list</a>
      </li>
    </ul>
  </header>
  <ul>
    <% @list[:todos].each_with_index do |todo, index| %>
    <% if todo[:completed] %>
      <li class="complete">
    <% else %>
      <li>
    <% end %>
        <form action="/lists/<%= @id %>/mark_todo/<%= index %>"
        method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />
          <button type="submit">Complete</button>
        </form>
        <h3>
          <%= todo[:name] %>
        </h3>
        <form action="/lists/<%= @id %>/delete_todo/<%= index %>"
        method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= params[:id] %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" placeholder="Something to do" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>
